:root {
    --color-button: #2196F3;
    --color-text:#757575;
    --text-fontfamily: 'Roboto', sans-serif;
    --title-fontfamily: 'Raleway', sans-serif;
    --font-weight-title: 700;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

header{
    display: flex;
    border-bottom: 1px #ECECEC;
    height: 80px;
}

.container{
    width: 1200px;
}

.site-title{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-weight: bold;
    height: 31px;
    width: 145px;
    margin-left: 215px;
    margin-top: 24px;
}

.web{
    color: #2196F3;
    font-family: var(--title-fontfamily);
    font-weight: var(--font-weight-title);
    font-size: 26px;
    line-height: 30.52px;
}

.header-studio{
    color: black;
    font-family: var(--title-fontfamily);
    font-weight: var(--font-weight-title);
    font-size: 26px;
    line-height: 30.52px;
}

.nav-current{
    color: var(--color-button);
}

.nav, .contact-link-header{
    list-style-type: none;
}

.header-nav{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    line-height: 16.41px;
}

.nav,
.nav-current, 
.contact-link-header{
    margin-top: 32px;
}

.nav li{
    display: flex;
    justify-content: space-between;
}

.contact-link-header{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    color: var(--color-text);
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.nav:hover, .contact-link-header:hover{
    color: var(--color-button);
}

.homepg {
    background-color: #2F303A;
    text-align: center;
}

#title{
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    color: #FFFFFF;
    text-align: center;
    height: 120px;
    width: 696px;
    line-height: 60px;
    padding-top: 200px;
    padding-bottom: 280px;
    padding-left: 452px;
}

.req-button{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.request{
    background-color: var(--color-button);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    align: center;
}

.request:hover{
    color: var(--color-button);
    background-color: #188CE8;
    color: white;
}

ul{
    list-style-type: none;
}

.container-attention{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 30px;
    width: 1200px;
}

.attention-details,
.details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    width: 270px;
}

.attention-details{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-family: var(--text-fontfamily);
    font-weight: var(--font-weight-title);
    font-size: 14px;
    line-height: 16.41px;
    gap: 30px;
}

.details{
    color: var(--color-text);
    font-family: var(--text-fontfamily);
}

.section-wedo,
.section-team{
    font-family: var(--text-fontfamily);
    font-weight: var(--font-weight-title);
    font-size: 36px;
    line-height: 42.19px;
    width: 1200px;
    text-align: center;
}

.section-wedo{
}

.container-team{
    background-color: #F5F4FA;
}

.section-pics{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    width: 1200px;
}

.card{
    background-color: #FFFFFF;
    border-radius: 0px, 0px, 4px, 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.job{
    color:var(--color-text);
    font-family: var(--text-fontfamily);
    text-align: center;
}

.name{
    font-family: var(--text-fontfamily);
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
}

body{
    padding: 0;
    margin: 0;
}

footer{
    background-color: #2F303A;
    text-decoration: none;
}

.footer-studio{
    color: white;
    font-family: var(--title-fontfamily);
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

.address{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    text-decoration: none;
}

.contact-link-footer{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16.41px;
}

.contact-link-footer:hover{
    color: var(--color-button);
}

.portofolio-page{
    margin-left: 215px;
}

.button-portofolio{
    display: flex;
    font-family: var(--text-fontfamily)
    font-weight: 500;
    background-color: #F5F4FA;
    color: #212121;
    cursor: pointer;
    border-style: hidden;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.48px;
}

.filter-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
}

.button-portofolio:hover{
    background-color: var(--color-button);
    color: white;
}

.button-portofolio:focus{
    background-color: var(--color-button);
    color: white;
}

.buttons:hover{
    color: white;
}

.h2-portofolio{
    display: none;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100%-60px)/3);
    gap: 30px;
    padding-top: 50px;
}

.pictures-title{
    font-family: var(--text-fontfamily);
    font-weight: var(--font-weight-title);
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}

.pics-description{
    font-family: var(--text-fontfamily);
    font-size: 16px;
    line-height: 30px;
}